node_modules/

/**/.env
/**/.env*.local

core/traefik-data/acme.json
core/traefik-data/acme.json.*
core/portainer-data/


# ignore db volumes
/**/pg-data/data-*

# dokku
!dokku/dokku-data
dokku/dokku-data/*
!dokku/dokku-data/plugin-list