[client]
remote_addr = "152.70.160.21:2333"

[client.transport]
type = "noise"

[client.transport.noise]
remote_public_key = "public_key"

# this is most important
# rathole knows traffic comes from 5080 and 5443, control channel told him
# DONT do ANY mapping in docker-compose, just pass traffic from rathole on ports traefik expects
# in same docker-compose.yml for depends_on

# separated based on token
# tokens MUST be different
# use ONLY ONE tunnel on Rathole client, comment out other one 

# mini pc
[client.services.mpc-traefik-http]
token = "secret_token_1"
local_addr = "traefik:80"

[client.services.mpc-traefik-https]
token = "secret_token_1"
local_addr = "traefik:443"

# opi
[client.services.opi-traefik-http]
token = "secret_token_2"
local_addr = "traefik:80"

[client.services.opi-traefik-https]
token = "secret_token_2"
local_addr = "traefik:443"

# rpi
[client.services.rpi-traefik-http]
token = "secret_token_3"
local_addr = "traefik:80"

[client.services.rpi-traefik-https]
token = "secret_token_3"
local_addr = "traefik:443"  


